body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
    margin: 20px;
    cursor: auto;
}

header {
    background-color: #007bff;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

header:hover {
    background-color: #0056b3;
}

header h1 {
    font-family: 'Pacifico', cursive;
}

.lead a {
    color: #ffffff;

}


section {
    background-color: #ffffff;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

section:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.footer {
    width: 100%;

    bottom: 0;
    background-color: #007bff;
    color: #ffffff;
    text-decoration-color: #f8f9fa;
    padding: 10px;
    text-align: center;
}
